// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$navigation-color:#aaa;
$offertext-color:#fdf3ca;
$customfooterbg-color: #2e3624;
$customfooterhr-color: #4e4e4e;
$customfooterh5-color: #ffffff;
$customfooterap-color: #cecece;
$footer-copyrightbg-color: #21271a;
$scrollbg-color: #ffffff;
$scrollspan-color: #cecece;
$scrollhover-color: #e60f0f;
$white :#fff;
