// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// datatable
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";
// Variables
@import 'variables';
@import 'custom';
@import 'mediabreakdown';
@import 'updateProfilepicture';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
