// .dataTables_wrapper{
//     overflow-x: auto!important;
// }
.bg-white{
    background-color: $white;
}
.dropdown-menu{
    left: -74px!important;
}
.img-fluid {
    max-width: 100%;
    height: 70vh!important;
}

.bg-dark {
    td,body,.dropdown-item,th,.form-control{
        color:#fff;
    }
    .navbar-toggler{
        background-color: #fff !important;
    }
    .bg-secondary{
        background: #192039 !important;
    }
    body{
        background: #373c5f !important;
    }
}
table{
    width: 100%!important;
}
.navigation{
    width: 100%;
    .navbar-brand{
        font-size: 22px;
    }
}
.navbar-toggler{
    font-size: 20px;
}
.carousel-item {
    .media{
        height: 70vh;
    }
}
.custom-footer{
    background-color: $customfooterbg-color;
    .footer-copyright{
        background-color: $footer-copyrightbg-color;
    }
}
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:$scrollbg-color;
    box-shadow: 0px 3px 13px 1px rgba(0,0,0,.30);
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    span{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:$scrollspan-color;
    }
}

.font-40{
    font-size: 40px;
}
.font-22{
    font-size: 22px;
}
