.avatar-wrapper{
	display: flex;
	position: relative;
	height: 250px;
	width: auto;
	margin: 50px auto;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;
	&:hover{
		transform: scale(1.05);
		cursor: pointer;
	}
	&:hover .profile-pic{
		opacity: .5;
	}
	.profile-pic {
    height: 100%;
		width: 100%;
		transition: all .3s ease;
		&:after{
			top: 10%; left: 40%;
			width: 100%;
			height: 100%;
			position: absolute;
			font-size: 190px;
			background: #ecf0f1;
			color: #34495e;
			text-align: center;
		}
	}
	.upload-button {
		position: absolute;
		top: 0; left: 0;
		height: 100%;
		width: 100%;
		svg{
            position: absolute;
			width: 4em;
			height: 4em;
			top: 50%;
			left: 50%;
			text-align: center;
			opacity: 0;
			transition: all .3s ease;
			color: #fff;
		}
		&:hover svg{
			opacity: .9;
		}
	}
}

